{% extends 'base_auth.html' %}
{% load i18n %}

{% block title %} {% trans Login %} {% endblock %}


{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <!-- Error messaging -->
                    <p>При авторизации возникли ошибки</p>
{#                        <p>При авторизации возникли ошибки, если вы не активировали аккаунт,#}
{#                            то необходимо перейти по ссылке, которая была отправлена вам на почту#}
{#                            или пройдите процесс <a href="{% url 'sign_up' %}">регистрации</a> заново:</p>#}

                    <div>
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                        <!-- /Error messaging -->
                    </div>
                {% endif %}

                <form method="post" action="{% url 'sign_in' %}" class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>

                    <span class="login100-form-title p-b-32">
						Авторизация
					</span>

                    <span class="txt1 p-b-11">
						E-mail
					</span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                        <input class="input100" type="text" name="username" autofocus="" required="" id="id_username">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
						Пароль
					</span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                        <input class="input100" type="password" name="password" required="" id="id_password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" name="rememberme" type="checkbox" id="rememberme"
                                   value="forever">
                            <label class="label-checkbox100" for="rememberme">
                                Помнить
                            </label>
                        </div>

                        <div>
                            <a href="{% url 'password_reset' %}" class="txt3">
                                Забыли пароль?
                            </a>
                        </div>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="container-login100-form-btn m-b-12">
                            <button type="submit" class="login100-form-btn">
                                Войти
                            </button>
                        </div>

                        <div>
                            <a href="{% url 'sign_up' %}" class="txt4">
                                Зарегистрироваться
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>


{% endblock content %}