{% extends "base_auth.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">


                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <!-- Error messaging -->
                        {{ form.non_field_errors }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                        <!-- /Error messaging -->
                    </div>
                {% endif %}

                <form method="post" class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}

                    <span class="login100-form-title p-b-32">
						Восстановить пароль
					</span>

                    <div>
                    <p class="txt3">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                        <br>
                    </div>

                    <span class="txt1 p-b-11">
						Пароль
					</span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                        <input class="input100" type="password" name="new_password1" required="" id="id_new_password1">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
						Повторить пароль
					</span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Repeat password ">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                        <input class="input100" type="password" name="new_password2" required="" id="id_new_password2">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="container-login100-form-btn m-b-12">
                            <button type="submit" class="login100-form-btn">
                                Восстановить
                            </button>
                        </div>

                        <div>
                            <a href="{% url 'sign_in' %}" class="txt4">
                                Войти
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

{% else %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <div>
                    <p class="txt3">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}
