{% extends "base_auth.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

     <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <!-- Error messaging -->
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                        <!-- /Error messaging -->
                    </div>
                {% endif %}

                <form method="post" class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}

                    <span class="login100-form-title p-b-32">
						Восстановить пароль
					</span>

                    <div>
                    <p class="txt3">Инструкции по восстановлению пароля будут отправлены на почту.</p><br><br>
                        </div>

                    <span class="txt1 p-b-11">
						E-mail
					</span>
                    <p class="txt3">{{ form.email.errors }}</p>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Email is required">
                        <input class="input100" type="text" name="email" maxlength="254" required="" id="id_email">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="container-login100-form-btn m-b-12">
                            <button type="submit" class="login100-form-btn">
                                Восстановить
                            </button>
                        </div>

                        <div>
                            <a href="{% url 'sign_in' %}" class="txt4">Войти</a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>


{% endblock %}
