{% extends "base_auth.html" %}
{% load i18n %}}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                <div>
                    <p class="txt3">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                    <p class="txt3">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
