{% extends "base_auth.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<p> {%  trans  "Your password was changed" %}</p>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                <div>
                    <p class="txt3">{% trans "Your password was changed." %}</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}