{% extends "base_auth.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <!-- Error messaging -->
                        {% if form.errors %}
                            <p class="bg-danger p-2"> {% trans "Incorrect password"%}</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>{% trans "Your account doesn't have access" %}.</p>
                            {% else %}
                                <p>{% trans "Please login to see this page" %}.</p>
                            {% endif %}
                        {% endif %}
                        <!-- /Error messaging -->
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form method="post" action="{% url 'password_change' %}"
                      class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <input class="mt-3" type="submit" value="Change Password"/>
                    <input type="hidden" name="next" value="{{ next }}"/>

                </form>
            </div>
        </div>
    </div>


{% endblock %}
