{% extends 'base_auth.html' %}
{% load i18n %}
{% block title %} {% trans 'Registration' %}{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <div class="flex-sb-m w-full p-b-48">
                    <p>Регистрация завершена теперь вы можете войти под своей учетной записью
                        <a href="/sign-in/">Войти</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}