{% extends 'base_auth.html' %}
{% load i18n %}
{% block title %} {% trans 'Registration' %}{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                Регистрация закрыта
            </div>
        </div>
    </div>

{% endblock content %}