{% extends 'base_auth.html' %}
{% load i18n %}
{% block title %} {% trans 'Registration' %}{% endblock %}

{% block content %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <!-- Error messaging -->
                        <div id="errors">
                            <div class="inner">
                                <p>При регистрации возникли ошибки</p>
{#                                <p>При авторизации возникли ошибки, если вы не активировали аккаунт,#}
{#                                    то необходимо перейти по ссылке, которая была отправлена вам на почту#}
{#                                    или пройдите процесс <a href="{% url 'sign_up' %}">регистрации</a> заново:</p>#}
                            </div>
                        </div>
                        <!-- /Error messaging -->
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div class="flex-sb-m w-full p-b-48">
                        <div>
                            {% for field in form %}
                                {% if field.errors %}
                                    <p style="color: red"><b>{{ field.label }}:</b><br>
                                    {{ field.errors|striptags }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <form method="post" action="{% url 'sign_up' %}" class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>

                    <span class="login100-form-title p-b-32">
						Регистрация
					</span>

                    <span class="txt1 p-b-11">
						E-mail
					</span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Email is required">
                        <input class="input100" type="email" maxlength="200" name="email" autofocus="" required=""
                               id="id_email">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
						Пароль
					</span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                        <input class="input100" type="password" name="password1" required="" id="id_password1">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">
						Повторить пароль
					</span>
                    <div class="wrap-input100 validate-input m-b-12" data-validate="Repeat password ">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
                        <input class="input100" type="password" name="password2" required="" id="id_password2">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 m-b-12">
                        <div id="recaptcha"></div>
                        <script src="https://www.google.com/recaptcha/api.js?render=6Lf5JrQUAAAAAEEOHjwYF6TNUSAw0_TQpaQ_dl4W"></script>
                        <script>
                            grecaptcha.ready(function() {
                                grecaptcha.execute('6Lf5JrQUAAAAAEEOHjwYF6TNUSAw0_TQpaQ_dl4W', {action: 'homepage'})
                                .then(function(token) {
                                    $("#recaptcha").html('<input type="hidden" name="g-recaptcha-response" value="'+token+'">');
                                });
                            });
                        </script>
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <div class="container-login100-form-btn m-b-12">
                            <button type="submit" class="login100-form-btn">
                                Зарегистрироваться
                            </button>
                        </div>

                        <div>
                            <a href="{% url 'sign_in' %}" class="txt4">Войти</a>
                        </div>
                    </div>

                    <div class="flex-sb-m w-full p-b-48">
                        <p class="txt3">Регистрируясь, Вы соглашаетесь с
                            <a class="txt3" href="/privacy/">Политикой конфиденциальности</a></p>
                    </div>


                </form>
            </div>
        </div>
    </div>

{% endblock content %}