{% autoescape off %}
    <b>Счет №</b> {{ bill_code }} - {{ is_paid }}<br>
    <b>Сумма</b> {{ price }}<br>
    <b>Дата изменения</b> {{ modified }}<br>
    Вы также можете посмотреть в <a href="http://{{ domain }}{% url 'account' %}">личном кабинете</a>.
{% endautoescape %}