{% extends 'base.html' %}

{% block title %} 403 page {% endblock %}

{% block sect_1 %}
    <h1>403</h1>
    <div class="page-title-subheading">Доступ ограничен</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">403 доступ ограничен</div>
            </div>
        </div>
    </div>


{% endblock %}