<div class="app-wrapper-footer">
    <div class="app-footer">
        <div class="app-footer__inner">
            <div class="app-footer-right">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{% url 'policy' %}" class="nav-link">
                            Политика конфидициальности
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>