<div class="app-header header-shadow">
        <div class="app-header__logo">
            <div class="logo-src"></div>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
                <span>
                    <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>
        <div class="app-header__content">
            <div class="app-header-left">
                {% comment %}<div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search">
                        <button class="search-icon"><span></span></button>
                    </div>
                    <button class="close"></button>
                </div>{% endcomment %}
                {% if request.user.is_superuser %}
                <ul class="header-menu nav">
                    <li class="nav-item">
                        <a href="{% url 'settings' %}" class="nav-link">
                            <i class="nav-link-icon fa fa-cog"></i>
                            Настройки
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                       class="p-0 btn">
{#                                        <img width="42" class="rounded-circle" src="/static/assets/images/avatars/1.jpg"#}
{#                                             alt="">#}
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                         class="dropdown-menu dropdown-menu-right">
                                        <a tabindex="0" href="{% url 'account' %}" class="dropdown-item">Профиль</a>
                                        {% if not request.user.is_superuser and not request.user.is_staff %}
                                        <a href="{% url 'edit_profile' %}" tabindex="0" class="dropdown-item">Редактировать анкету</a>
                                        {% endif %}
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <a href="{% url 'sign_out' %}" tabindex="0" class="dropdown-item">Выйти</a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    {{ request.user.email }}
                                </div>
                                <div class="widget-subheading">
                                    {% if request.user.is_superuser %}
                                    Администратор
                                    {% elif request.user.is_staff %}
                                    Оператор
                                    {% else %}
                                    Участник
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>