<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                        data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
                        <span>
                            <button type="button"
                                    class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Разделы</li>
                <li>
                    <a href="{% url 'account' %}"
                            {% if request.resolver_match.url_name == "account" %}
                       class="mm-active" {% endif %}>
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Главная
                    </a>
                </li>
             {% if not request.user.is_superuser and not request.user.is_staff %}
                <li>
                    <a href="{% url 'edit_profile' %}"
                            {% if request.resolver_match.url_name == "edit_profile" %}
                       class="mm-active" {% endif %}
                    >
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Редактировать анкету
                    </a>
                </li>
            {% endif %}
                {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'profiles_page' %}"
                                {% if request.resolver_match.url_name == "profiles_page" %}
                           class="mm-active" {% endif %}>
                            <i class="metismenu-icon pe-7s-users"></i>
                            Пользователи
                        </a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li>
                        <a href="{% url 'settings' %}"
                                {% if request.resolver_match.url_name == "settings" %} class="mm-active" {% endif %}>
                            <i class="metismenu-icon pe-7s-settings"></i>
                            Настройки
                        </a>
                    </li>
                {% endif %}
                <li class="app-sidebar__heading">Выход</li>
                <li>
                    <a href="{% url 'sign_out' %}">
                        <i class="metismenu-icon pe-7s-mouse">
                        </i>Выйти
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>