<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/png" href="/static/favicon.ico"/>
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link href="/static/assets/main.css" rel="stylesheet">
    <script src="/static/js/jquery/jquery-3.4.1.min.js"></script>
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

    {% include "_header.html" %}

    <div class="app-main">

        {% include "_sidebar.html" %}

        <div class="app-main__outer">

            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                {% block icon_page %}
                                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                                </i>
                                {% endblock %}
                            </div>
                            <div>{% block sect_1 %}{% endblock %}</div>
                        </div>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>

            {% include "_footer.html" %}

        </div>

{#        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>#}
    </div>

</div>

<script type="text/javascript" src="/static/assets/scripts/main.js"></script>
<script src="/static/js/src/script.js?v=0.0.2"></script>

{% block js_footer %}
{% endblock %}

</body>
</html>