{% extends 'base.html' %}

{% block title %} ЛК -  Редактирование анкеты {% endblock %}

{% block sect_1 %}
    <h1>Редактирование анкеты</h1>
    <div class="page-title-subheading">{{ user_name }}</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="message">

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success fade show" role="alert">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger fade show " role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <!----->
                    {% if not is_my_page %}
                        <div><a href="{% url 'account_detail' user_id %}">Назад</a><br><br></div>
                    {% else %}
                        <div><a href="{% url 'account' %}">Назад</a><br><br></div>
                    {% endif %}
                    <!----->
                    <h5 class="card-title">Анкета</h5>
                    <form class="needs-validation" novalidate method="post" action="
                                                                    {% if not is_my_page %}
                                                                        {% url 'edit_profile_user' user_id %}
                                                                    {% else %}
                                                                        {% url 'edit_profile' %}
                                                                    {% endif %}
                                                                    ">
                        {% csrf_token %}
                        <div class="position-relative form-group">
                            <label for="id_last_name" class="">Фамилия</label>
                            {{ form.last_name }}
                            {{ form.errors.last_name }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_first_name" class="">Имя</label>
                            {{ form.errors.first_name }}
                            {{ form.first_name }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_patronymic" class="">Отчество</label>
                            {{ form.errors.patronymic }}
                            {{ form.patronymic }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="region_code" class="">Субъект РФ</label>
                            <select name="region_code" id="region_code" required class="form-control">
                                {% for region in form.region_code %}
                                    {{ region }}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_city" class="">Город/район</label>
                            {{ form.errors.city }}
                            {{ form.city }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_place_work" class="">Место работы/учебы</label>
                            {{ form.errors.place_work }}
                            {{ form.place_work }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_place_work" class="">Должность</label>
                            {{ form.errors.employee_position }}
                            {{ form.employee_position }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_rank" class="">Звание</label>
                            {{ form.errors.rank }}
                            {{ form.rank }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_phone_work" class="">Телефон рабочий</label>
                            {{ form.errors.phone_work }}
                            {{ form.phone_work }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_phone_mobile" class="">Мобильный телефон</label>
                            {{ form.errors.phone_mobile }}
                            {{ form.phone_mobile }}
                        </div>

                        <div class="position-relative form-group">
                            <label for="id_link_vk" class="">ВКонтакте</label>
                            {{ form.errors.link_vk }}
                            {{ form.link_vk }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_link_instagram" class="">Инстаграмм</label>
                            {{ form.errors.link_instagram }}
                            {{ form.link_instagram }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_link_facebook" class="">Facebook</label>
                            {{ form.errors.link_facebook }}
                            {{ form.link_facebook }}
                        </div>
                        <div class="position-relative form-group">
                            <label for="id_link_ok" class="">Одноклассники</label>
                            {{ form.errors.link_ok }}
                            {{ form.link_ok }}
                        </div>

                        <div class="position-relative form-group">
                            <label for="club" class="">Секция</label>
                            <select name="club" id="club" style="font-size: 13px;" required class="form-control">
                                {% for cl in form.club %}
                                    {{ cl }}
                                {% endfor %}
                            </select>
                        </div>

                        <button type="submit" class="mt-1 btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div id="block_file_upload" style="display: none">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <p>Выступающим загрузить тезисы (0,3-0,5 п.л.) до 1 октября</p>
                        <form name="file_upload" enctype="multipart/form-data">
                            <input id="file" name="image" type="file">
                            <button type="submit" class="mt-1 btn btn-primary">Загрузить</button>
                        </form>

                        <br><br>
                        <div id="block_uploded_files">
                            <pre></pre>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div>
                        <p style="font-weight: bold">Информация о возможных вариантах участия в работе конференции и мероприятиях</p>
                        <p style="font-weight: bold">Если Вы:</p>
                        <ul>
                            <li>Без проживания - заявку под текстом направлять не требуется. Заполнять анкету обязательно;</li>
                            <li>С проживанием - направляйте заявку по выбранной Вами программе;</li>
                            <li>Являющийся так же и участником Конкурса – заявка будет вам направлена после получения документов на почту <a href="mailto: vospitatelgoda@yandex.ru">vospitatelgoda@yandex.ru</a> от вас как от участника Конкурса;</li>
                            <li>Являющийся так же и региональным куратором/сопровождающим - необходимо отправить заявку сопровождающего; счет и договор направим в ближайшее время;</li>
                            <li>Являющийся так же и членом жюри – образец заявки будет Вам направлен после утверждения Вашей кандидатуры в качестве члена жюри.</li>
                        </ul><br>
                        </div>
                        <div>
                            <a href="/static/documents/письмо,заявка,смета.pdf">Письмо, заявка, смета.pdf</a><br>
                            <a href="/static/documents/письмо_сопровождающего.pdf">Письмо сопровождающего.pdf</a><br>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="position-relative form-check">
                            <input name="is_accept_on_public" id="is_accept_on_public" type="checkbox"
                                   class="form-check-input">
                            <label for="is_accept_on_public" class="form-check-label">
                                Согласие на публикацию статей в сборнике Конференции</label>
                        </div>
                        <div>
                            <a href="{% url "requirements_article" %}">Требования к оформлению статей для публикации</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block js_footer %}
    <script>
        var csrf_token = "{{ csrf_token }}";
        var current_user_id ={{ request.user.id }};
        var page_user_id={{ user_id }};
    </script>
    <form method="post">{% csrf_token %}
        <input type="hidden" name="user_id" value="{{ request.user.id }}">
    </form>
    <script src="/static/js/plugin/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="/static/js/plugin/moment/moment-with-locales.js"></script>
    <script src="/static/js/src/file_upload.js?v=1.1.1"></script>
    <script src="/static/js/src/accept_on_public.js"></script>
    <script>
        $(function () {
            {#'use strict';#}
            $('#id_phone_work').mask('+7 000 000 00 00', {placeholder: "+7 (___) ___ __ __"}); // +7 XXX XXX XX XX
            $('#id_phone_mobile').mask('+7 000 000 00 00', {placeholder: "+7 (___) ___ __ __"}); // +7 XXX XXX XX XX


            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        });
    </script>
{% endblock %}