{% extends 'base.html' %}

{% block title %} ЛК - {{ user_name }}{% endblock %}

{% block icon_page %}
    <i class="pe-7s-bandaid icon-gradient bg-amy-crisp"></i>
{% endblock %}

{% block sect_1 %}
    <h1>Профиль</h1>
    <div class="page-title-subheading">{{ user_name }}</div>
    {% if request.user.is_staff or request.user.is_superuser and not is_my_page %}
        <div class="page-title-subheading">
            <a href="{% url 'edit_profile_user' user_id %}">Ред. анкету пользователя</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- статусы оплаты -->
    <div class="row">
        <div class="col-md-12">
            <div class="message"></div>
        </div>
    </div>


    {% if request.user.is_staff or request.user.is_superuser %}
        {% if not is_my_page %}
            <div class="row">
                {% if request.user.is_superuser %}
                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <a href="{% url 'edit_profile_user' user_id %}">Ред. анкету пользователя</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <button class="mb-2 mr-2 btn btn-primary" id="enable_staff" style="display: none">Сделать оператором</button>
                            <button class="mb-2 mr-2 btn btn-danger" id="disable_staff" style="display: none">Убрать права оператора</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="row" id="bill_block">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">USER ID: {{ user_id }}</h5>
                        <div class="position-relative form-group">
                            <form id="bill">
                                <div>
                                    <div class="position-relative form-group">
                                        <label for="bill_code" class="">Номер счета</label>
                                        <input type="text" name="bill_code" id="bill_code" class="form-control"
                                               placeholder="Номер счета"/>
                                    </div>
                                    <div class="position-relative form-group">
                                        <label for="price" class="">Сумма</label>
                                        <input type="number" name="price" id="bill_code" class="form-control"
                                               placeholder="Сумма"/>
                                    </div>
                                    <div class="position-relative form-group">
                                        <button class="mb-2 mr-2 btn btn-primary">Выставить счет</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Подтверждение оплаты</h5>
                        <form id="bill_paid">
                            <div class="position-relative form-group">
                                <div>
                                    <div class="custom-checkbox custom-control custom-control-inline">
                                        <input type="checkbox" id="exampleCustomInline"
                                               name="is_paid" class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="exampleCustomInline">
                                            Оплачено</label>
                                    </div>
                                </div>
                            </div>
                            <button class="mb-2 mr-2 btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Информация по оплате</h5>

                        <div class="personal_bill">
                            <pre>не найдено</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <div class="row" id="bill_block" style="display: none">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Информация по оплате</h5>
                        <div class="personal_bill">
                            <pre>не найдено</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Бонус за регистрацию</div>
                <div class="card-body">
                    <div>
                        <p>Единые рекомендации по установлению на федеральном, региональном и местном уровнях систем оплаты труда работников государственных и муниципальных учреждений на 2020 год</p>
                        <a href="/static/documents/Edinie_rekomendacii_po_ustanov46891.pdf">Посмотреть ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Данные о пользователе</div>
                <div class="card-body">
                    <div style="font-weight: bold">Пользователь: {{ user_name }}<br><br></div>
                    <div class="personal_info">
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div>
                        <p>По техническим вопросам работы личного кабинета обращаться:<br>
                            Телефон: <a href="tel:79206323232">+7 920 632-32-32</a><br>
                            E-Mail: <a href="mailto:denis@sky-rzn.ru">denis@sky-rzn.ru</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_footer %}
    <form method="post">{% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
    </form>
    <script src="/static/js/src/script_profile_user.js"></script>
{% endblock %}