{% extends 'base.html' %}

{% block title %} ЛК -  Политика конфидициальности: {{ user_name }} {% endblock %}
{% block icon_page %}
    <i class="pe-7s-display1 icon-gradient bg-premium-dark"></i>
{% endblock %}

{% block sect_1 %}
    <h1>Политика конфидициальности</h1>
    <div class="page-title-subheading">Админ: {{ user_name }}</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Политика конфидициальности</div>
                <div class="card-body">

                    <h2>Согласие на обработку персональных данных</h2>
<p>Для пользования сервисом электронной регистрации на Всероссийскую конференцию по дошкольному образованию в рамках
X Всероссийского профессионального конкурса «Воспитатель года России»
    «Современный педагог дошкольного образования: составляющие успеха»</p>

    <p>В соответствии с требованиями статьи 9 Федерального закона от 27.07.2006 № 152-ФЗ "О персональных данных", даю свое согласие АНО ДПО «Гильдия профессионалов образования» на автоматизированную обработку моих персональных данных, включающих фамилию, имя, отчество, в целях подготовки участия в работе Всероссийской конференции по дошкольному образованию в рамкахX Всероссийского профессионального конкурса «Воспитатель года России»
«Современный педагог дошкольного образования: составляющие успеха»
        Предоставляю АНО ДПО «Гильдия профессионалов образования» осуществлять все действия (операции) с моими персональными данными, включая сбор, систематизацию, накопление, хранение.  Срок действия настоящего согласия - период времени до истечения установленных нормативными актами сроков хранения соответствующей информации или документов. Настоящее согласие на обработку персональных данных может быть отозвано в порядке, установленном Федеральным законом Российской Федерации от 27.07.2006 N 152-ФЗ "О персональных данных". Настоящее согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес gildiaobr@gmail.com</p>

                    <p>Я прочитал и даю согласие на обработку своих персональных данных.</p>


                </div>
            </div>
        </div>
    </div>


{% endblock %}