{% extends 'base.html' %}

{% block title %} ЛК -  Профиль администратора: {{ user_name }} {% endblock %}
{% block icon_page %}
    <i class="pe-7s-display1 icon-gradient bg-premium-dark"></i>
{% endblock %}

{% block sect_1 %}
    <h1>Профиль</h1>
    <div class="page-title-subheading">Админ: {{ user_name }}</div>
    {% if request.user.is_staff or request.user.is_superuser and not is_my_page %}
        <div class="page-title-subheading">
            <a href="{% url 'edit_profile' %}">Ред. анкету</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Профиль сотрудника</div>
            </div>
        </div>
    </div>


{% endblock %}