{% extends 'base.html' %}
{% load i18n %}

{% block title %} ЛК- Профили {% endblock %}

{% block icon_page %}
    <i class="pe-7s-note2 icon-gradient bg-happy-fisher"></i>
{% endblock %}

{% block sect_1 %}Список пользователей - Админ{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Список пользователей</div>
                <div class="card-body">

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="search" class="">Поиск по ФИО</label>
                                <input name="text" id="search" placeholder="Поиск по ФИО" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="filter_subject" class="">Фильтр по регионам</label>
                                <select name="filter_subject" id="filter_subject" class="form-control">
                                    <option value="">------</option>
                                    {% for subject in filter_subject %}
                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="filter_club" class="">Фильтр по секциям</label>
                                <select name="filter_club" id="filter_club" class="form-control">
                                    <option value="">------</option>
                                    {% for club in filter_clubs %}
                                    <option value="{{ club.id }}">{{ club.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-check">
                                <input name="is_paid" id="is_paid" type="checkbox" class="form-check-input">
                                <label for="is_paid" class="form-check-label">Оплачено</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="position-relative form-check">
                                <input name="is_staff" id="is_staff" type="checkbox" class="form-check-input">
                                <label for="is_staff" class="form-check-label">Операторы</label>
                            </div>
                        </div>

                    </div>

                    <div class="divider"></div>

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-group">
                                <label for="sort_fio_reg" class="">Сортировка</label>
                                <select name="sort_fio_reg" id="sort_fio_reg" class="form-control">
                                    <option value="">------</option>
                                    <option value="fio_asc">ФИО по возр</option>
                                    <option value="fio_desc">ФИО по убыв</option>
                                    <option value="region_asc">Региону по возр</option>
                                    <option value="region_desc">Региону по убыв</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="divider"></div>

                <div class="table-responsive wrap_profiles_table"></div>
                <div class="card-body" id="paging_profiles"></div>

            </div>
        </div>
    </div>


{% endblock %}

{% block js_footer %}
    <script src="/static/js/plugin/pagination-2.1.4/pagination.min.js"></script>
    <script src="/static/js/src/script_profiles.js"></script>
{% endblock %}