{% extends 'base.html' %}

{% block title %} ЛК -  Требования к оформлению статей для публикации: {{ user_name }} {% endblock %}
{% block icon_page %}
    <i class="pe-7s-display1 icon-gradient bg-premium-dark"></i>
{% endblock %}

{% block sect_1 %}
    <h1>Требования к оформлению статей для публикации</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Требования к оформлению статей для публикации</div>
                <div class="card-body">

                    <h2>Требования к оформлению статей для публикации в сборнике материалов Конференции.</h2>
                    <p>
Для подготовки статьи должен использоваться текстовый редактор Microsoft Word, шрифт Times New Roman, кегль 12, межстрочный интервал 1,5 см, абзацный отступ -1,25 см, поля стандартные (верхнее и нижнее – 2 см, правое – 1,5 см, левое – 3 см).
</p>
                    <p>
                        Максимальный объем статьи 5 страниц; минимальный – 3 страницы.</p>
                    <p>
Оригинальность статей должна составлять не менее 70% в соответствии с требованиями РИНЦ.</p>
                    <p>
Материал статьи должен быть изложен в следующей последовательности:</p>
                    <h3>Заголовок (название статьи)</h3>
                    <p>Заголовок должен быть набран прописными (заглавными) буквами полужирным шрифтом (размер шрифта – 13 пт) и выравнивается по центру. Обратите внимание, что в конце заголовка точка не ставится!</p>
                    <h3>Фамилии и инициалы авторов</h3>
                    <p>Ф.И.О. авторов должны быть набраны строчными буквами через запятую.</p>
                    <p>Шрифт – полужирный, размер шрифта – 13 пт, выравнивание по центру.</p>
                    <h3>Название организации</h3>
                    <p>Название организации должно быть набрано строчными буквами.</p>
                    <p>Шрифт – обычный, размер шрифта – 13 пт, выравнивание по центру.</p>
                    <h3>Текст статьи</h3>
                    <p>Размер шрифта – 12 пт, междустрочный интервал – 1,5 см, отступ – 1,25 см.</p>
                    <p>Форматирование выравниванием по ширине.</p>
                    <h3>Пример оформления статьи:</h3>
<div style="border: 1px solid; padding: 5px">
    <p style="text-align: center; font-weight: bold">НАРОДНЫЕ ИГРЫ КАК СРЕДСТВО ФИЗИЧЕСКОГО ВОСПИТАНИЯ<br> ДЕТЕЙ СТАРШЕГО ДОШКОЛЬНОГО ВОЗРАСТА</p>
    <p style="text-align: center; font-weight: bold">Максимова Г.В., Зубкова Е.Б.</p>
    <p style="text-align: center;">ГОУ ВО МО «Государственный гуманитарно-технологический университет»</p>
<p style="text-indent: 30px;">Здоровое, красивое тело, красивые движения – результат правильного физического развития. Маленький человек не может сам себя развить – это задача взрослых. Планомерное физическое воспитание является условием формирования двигательной активности детей, а также стимулирующим фактором развития интеллектуальной, эмоциональной и других сфер ребенка....
</p>
</div>

<h3>Условные обозначения и сокращения</h3>
                    <p>Встречающиеся в тексте условные обозначения и сокращения должны быть раскрыты при первом появлении их в тексте.</p>
                    <h3>Таблицы</h3>
                    <p>Таблицы в тексте должны быть выполнены в редакторе Microsoft Word (не отсканированные и не в виде рисунка). Таблицы должны располагаться в пределах рабочего поля. Форматирование номера таблицы и ее названия: шрифт обычный, размер 11 пт, выравнивание по центру. Обратите внимание, что в конце названия таблицы точка не ставится! Содержимое таблицы – шрифт обычный, размер 11 пт, интервал – одинарный.</p>
                    <h3>Иллюстрации</h3>
                    <p>Рисунки размещаются в рамках рабочего поля. Допускается использование рисунков в форматах JPEG и GIF. Рисунки должны допускать перемещение в тексте и возможность изменения размеров.</p>
                    <p>Подпись под рисунком. Форматирование названия и номера рисунка – шрифт обычный, размер - 11 пт, выравнивание по центру, интервал – одинарный. Обратите внимание, что в конце названия рисунка точка не ставится!</p>
                    <h3>Нумерация страниц и колонтитулы</h3>
                    <p>Не используйте колонтитулы. Нумерация страниц производится внизу справа, начиная с 1–ой страницы.</p>
                    <h3>Ссылки</h3>
                    <p>В тексте ссылки на литературу и источники оформляются следующим образом:</p>
                    <pre>Текст статьи ...текст статьи ... [1, с. 256]. Текст статьи ... [2, с. 5] и т.п.</pre>
                    <h3>Список литературы</h3>
                    <p>Список литературы размещается в конце статьи. Размер шрифта 12 пт., форматирование выравниванием по ширине страницы.</p>
                    <p>1. Фамилия и инициалы автора/авторов (выделяется курсивом), название, выходные данные, включая название издательства.</p>
                    <p>и т.д.</p>
                <h3>Примеры оформления списка литературы:</h3>
                <p>Для книг:</p>
                <p>1. Зуб А.Т. Управление организационными кризисами. М.: Университетский гуманитарный лицей, 2003.</p>
                <p>2. Петрунин Ю.Ю., Борисов В.К. Этика бизнеса. М.: Дело, 2000.</p>
                <p>Для статей в журналах, сборниках трудов и других коллективных публикациях:</p>
                <p>3. Маринко Г.И. Культура организации и управление знаниями // Философия науки и научно-технической цивилизации: Юбилейный сборник / Отв. ред. С.Л. Катречко. М.: Полиграф-Информ, 2005. С. 322–338.</p>
                <p>5. Воронина Т.П., Молчанова О.П. Особенности управления инновационной организацией // Вестник Московского университета. Сер. 21. Управление (государство и общество). № 2. 2004. С. 66–82.</p>
                <p>Для материалов из INTERNET:</p>
                <p>8. Сурин А.В. 10 лет подготовки управленческих кадров в Московском университете: опыт и проблемы. – http://e-journal.spa.msu.ru/images/File/2003/surin.pdf (в скобках указывается дата просмотра материала в Интернет).</p>
                <p>УСЛОВИЯ ПУБЛИКАЦИИ</p>
                <p>Сборнику присваиваются индексы ББК и УДК, стандартный номер ISBN. Сборник будет размещен в системе «Российский индекс научного цитирования».</p>
                <p>Оформленную в соответствии с установленными правилами публикацию направить на почту: vospitatelgoda@yandex.ru в срок до 1 октября 2019 года.</p>
                <p>Редакторы оставляют за собой право отказать авторам в публикации.</p>



                </div>
            </div>
        </div>
    </div>


{% endblock %}