{% extends 'base.html' %}

{% block title %} ЛК -  Настройки {% endblock %}
{% block icon_page %}
    <i class="pe-7s-display1 icon-gradient bg-premium-dark"></i>
{% endblock %}

{% block sect_1 %}
    <h1>Настройки</h1>
    <div class="page-title-subheading">Админ: {{ request.user.email }}</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="message"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">Настройки</div>
                <div class="card-body">

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-check">
                                <input name="is_show_bill" id="is_show_bill" type="checkbox" class="form-check-input">
                                <label for="is_show_bill" class="form-check-label">Включить оплату</label>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="position-relative form-check">
                                <input name="is_upload_file" id="is_upload_file" type="checkbox"
                                       class="form-check-input">
                                <label for="is_upload_file" class="form-check-label">Включить загрузку файлов
                                    пользователям</label>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="form-row">
                        <div class="col-md-2">
                            <a href="{% url 'export_users_xls' %}" class="btn btn-wide btn-success">Вырузить таблицу</a>
                        </div>
                        {% comment %}<div class="col-md-2">
                            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger">
                                <i class="pe-7s-trash btn-icon-wrapper"> </i> Очистить таблицу
                            </button>
                        </div>{% endcomment %}
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

{% block js_footer %}
    <form method="post">{% csrf_token %}
        <input type="hidden" name="user_id" value="{{ request.user.id }}">
    </form>
    <script src="/static/js/src/script_settings.js"></script>
{% endblock %}